.main{
    margin: 15px;
}
#heading{
    color: beige;
    background-color: blueviolet;
    text-align: center;
    text-decoration: underline;
}
#intro{
    padding: 5px;
}
#input{
    width: 100%;
    padding: 5px;
}
#click{
    width: 50%;
    color: white;
    background-color:green ;
    font-size: 12px;
}
#foot{
    text-align: center;
    color: white;
    background-color: black;
}